.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

# Chef Zero
nodes/
clients/
cookbooks/chef-dk/
cookbooks/chef_workstation/
cookbooks/dmg/
cookbooks/sudo/
cookbooks/yum/
